<div class="container m-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Available Exams</h1>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @for (exam of exams; track exam._id) {
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ exam.title }}</h5>
            <p class="card-text">{{ exam.description }}</p>
          </div>
          <div class="card-footer bg-transparent border-top-0 ">
            <button class="btn btn-primary w-50 mb-3" (click)="takeExam(exam._id)">
              Take Exam
            </button>
          </div>
        </div>
      </div>
    }
  </div>
</div>
